<?php

$config['db_dsnw'] = 'mysql://roundcube_user:password@localhost/roundcubemail';
$config['default_host'] = 'localhost';
$config['smtp_server'] = 'localhost';
$config['product_name'] = 'Roundcube Webmail';
$config['des_key'] = 'your_secret_key';
$config['debug_level'] = 1;
$config['enable_installer'] = false;

?>
